/* Header.css */

.header-container {
    text-align: center; /* Center align the content */
  }
  
  h1 {
    font-family: 'Diwani', 'Amiri', serif, sans-serif; /* Elegant Arabic font with fallback */
    font-size: 6rem; /* Set a reasonable font size */
    color: #fff; /* White text color for contrast */
    margin: 5rem 0; /* Add space above and below the header */
    line-height: 1.2; /* Ensure line spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Subtle shadow */
    font-weight: bold; /* Bold text for emphasis */
    text-transform: uppercase; /* Uppercase for emphasis */
  }
  
  .subheading {
    font-family: 'Arial', sans-serif; /* Simple font for the subheading */
    font-size: 2rem; /* Smaller size for the subheading */
    color: black; /* Golden color for the subheading */
    margin-top: 1rem; /* Space between the main header and subheading */
    font-weight: 600; /* Semi-bold weight for the subheading */
    text-transform: capitalize; /* Capitalize the text */
  }
  
  h1:hover {
    
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6); /* Stronger shadow on hover */
  }
  
  .subheading:hover {
    color: black; /* Change subheading color to white on hover */
  }
  